<template name="footer">
  <footer class="footer-main colorful">
    <div class="container padded-section">
      <h3>Get In Touch</h3>
      <ul class="footer-icons">
        <li><a href="http://google.com" class="icon-email"></a></li>
        <li><a href="http://google.com" class="icon-linkedin"></a></li>
        <li><a href="http://google.com" class="icon-github"></a></li>
        <li><a href="http://google.com" class="icon-dribbble"></a></li>
        <li><a href="http://google.com" class="icon-instagram"></a></li>
        <li><a href="http://google.com" class="icon-lastfm"></a></li>
      </ul>
      <p>&copy; Lily Nguyen 2015</p>
    </div>
  </footer>
</template>