<template name="footer">
  <footer class="footer-main colorful">
    <div class="container padded-section">
      <h3>Get In Touch</h3>
      <ul class="footer-icons">
        <li><a href="mailto:lcn@berkeley.edu" class="i-email"></a></li>
        <li><a href="www.linkedin.com/pub/lily-nguyen/95/17/4ba/en" class="i-linkedin"></a></li>
        <li><a href="http://github.com/nguyensomniac" class="i-github"></a></li>
        <li><a href="https://dribbble.com/nguyensomniac" class="i-dribbble"></a></li>
        <li><a href="https://instagram.com/nguyenstgram/" class="i-instagram"></a></li>
        <li><a href="http://last.fm/ieely" class="i-lastfm"></a></li>
      </ul>
      <p>&copy; Lily Nguyen 2015</p>
    </div>
  </footer>
</template>