<template name="header">
  <header class="header-main colorful">
    <nav>
      <div class="container row">
        <div class="nav-left"><h4><a href="/">Lily Nguyen</a></h4></div>
        <div class="nav-right">
          <ul>
            <li><h4><a href="/#work">Work</a></h4></li>
            <li><h4><a href="/assets/resume.pdf">Resume</a></h4></li>
            <li><h4><a href="/about">About + Contact</a></h4></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>