.button {
  border: .1875rem solid currentColor;
  border-radius: .4375rem;
  margin: 0 .25rem;
  display: inline-block;
  padding: .5rem 1rem;
  background-color: transparent;
  font-size: $body-font-small;
  @media screen and (min-width: 43.75rem)  {
    font-size: inherit;
  }
}

.section__colorful .button:hover,
.section__colorful .button:active  {
  background-color: rgba(255, 255, 255, .2);
}
.section__colorful .button:focus  {
  outline: 0;
}

.button-group {
  margin-left: -.25rem;
  margin-right: -.25rem;
}

.button-small {
  border-width: .0675rem;
  padding: .125rem .5rem;
}

//Tag colors
$tags: (
  ux: $green,
  design: $turquoise,
  front-end: $blue,
  back-end: $purple,
  visualization: $pink
);

@each $tag, $color in $tags {
  .button.#{$tag}  {
    border-color: $color;
    color: $color;
  }
}
