@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,700');
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot?addf79');
    src:url('../fonts/icomoon/icomoon.eot?#iefixaddf79') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff?addf79') format('woff'),
        url('../fonts/icomoon/icomoon.ttf?addf79') format('truetype'),
        url('../fonts/icomoon/icomoon.svg?addf79#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
