$max-width: 60rem; //960px
$column-num: 12;
$padding: 1.75rem;


//grid styles
.row  {
  @include clearfix;
  margin-left: $padding * -.5;
  margin-right: $padding * -.5;
}

[class*='column'] {
  //common column styles
  box-sizing: border-box;
  float: left;
  padding-right: $padding * .5;
  padding-left: $padding * .5;
}

@for $i from 1 through $column-num  {
  .column-#{$i} {
    width: 100% / $column-num * $i;
  }
}
@for $i from 1 through $column-num  {
  @media screen and (min-width: 43.75rem)  {
    .column-dt-#{$i}  {
      width: 100% / $column-num * $i;
    }
  }
}

.clearfix {
  @include clearfix;
}

.container {
  max-width: $max-width;
  width: 95%;
  margin: auto;
}
.container img  {
  max-width: 100%;
  width: auto;
}
//set body and HTML to full height
body, html  {
  height: 100%;
}
.fullsize {
  height: 100%;
}
//only works for block elements
.vertically-aligned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.horizontally-aligned {
  text-align: center;
}
//inline lists for header and footer
header ul, footer ul  {
  margin: 0;
  padding: 0;
}
header li, footer li  {
  list-style-type: none;
  display: inline;
}
.header-main  {
  width: 100%;
  position: fixed;
  z-index: 1;
}
.header-main li h4 {
  padding-left: .75rem;
  display: inline;
}
.nav-left  {
  float: left;
}
.nav-right {
  float: right;
}

.padding-small {
  padding: 1.5rem 0;
}

.padding-large {
  padding: 4rem 0;
}

.padding-xl {
  padding: 6rem 0;
  @media screen and (min-width: 43.75rem)  {
    padding: 8rem 0;
  }
}


//compensate for fixed header
.vertical-offset  {
  padding-top: 7.5rem;
}
//work cards on main page
.work-card  {
  display: block;
  margin: 1rem 0;
  box-shadow: .125rem .1825rem #DFDFDF, .0625rem .125rem #DFDFDF, 0rem .0625rem #DFDFDF;
  transition: all 200ms ease;
}

.work-card:hover  {
  transform: translate(.0625rem, .1825rem);
  box-shadow: 0 0 #DFDFDF, 0 0 #DFDFDF, 0 0 #DFDFDF;
}

.work-card a  {
  color: inherit;
  text-decoration: none;
}
.work-image {
  width: 100%;
  padding-top: 75%;
  background-position: center;
  background-size: cover;
}
.work-section {
  padding: 1rem;
}

//work page
.work-page img  {
  display: block;
  margin: auto;
}

//about page
.about-photo  {
  width: 100%;
  padding-top: 100%;
  background-image: url('./assets/img/self.jpg');
  background-size: cover;
  border-radius: 50%;
  margin-top: 1rem;
}
.about-stats  {
  @media screen and (max-width: 480px)  {
    display: none;
  }
}
//footer
.footer-left  {
  float: left;
}
.footer-right {
  float: right;
}
.footer-icons {
  margin: .75rem 0;
}