//Font families
$text-stack: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$icon-font: 'Icomoon';

//Font sizes
$body-font-size:  1.125rem; //18px
$body-font-small: 1rem; //16px
$h1-size: 4.5rem; //72px
$h2-size: 2.625rem; //42px
$h3-size: 1.875rem; //30px
$h4-size: 1.125rem; //18px
$icon-size: 1.5rem; //24px

$light-weight: 300;
$bold-weight: 700;

body  {
  font-family: $text-stack;
  line-height: 1.7;
  font-size: $body-font-size;
  font-weight: $light-weight;
}
h1, h2, h3, h4, h5, h6  {
  line-height: 1.4;
  margin: 0;
  font-weight: 500;
}
h1  {
  font-size: $h2-size;
  font-weight: 300;
  @media screen and (min-width: 43.75rem)  {
    font-size: $h1-size;
  }
}
h2  {
  font-size: $h2-size;
  font-weight: 300;
}
h3  {
  font-size: $h3-size;
  font-weight: 700;
}
h4  {
  font-size: $h4-size;
  font-weight: 500;
}
h5  {
  font-size: $h4-size;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
a,
.link {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.light a,
p a  {
  font-weight: 700;
}
.colorful a {
  font-weight: inherit;
}

//buttons
.button {
  font-weight: $bold-weight;
  text-transform: uppercase;
  letter-spacing: .125em;
}

.button-small {
  font-size: $body-font-small;
  letter-spacing: .0675em;
}

//icons
@mixin icon($content) {
  display: inline-block;
  vertical-align: middle;
  margin-right: .75rem;
  padding: .75rem;
  border: .125rem currentColor solid;
  border-radius: 50%;
  line-height: 1;
  text-decoration: none;
  transition: all 300ms ease;
  &::after  {
    font-family: $icon-font;
    font-size: $icon-size;
    content: $content;
  }
  &:hover {
    transform: scale(1.2);
  }
}
.i-email {
  @include icon('\e600');
}
.i-linkedin  {
  @include icon('\eac9');
}
.i-github  {
  @include icon('\eab2');
}
.i-dribbble  {
  @include icon('\eaa6');
}
.i-instagram  {
  @include icon('\ea90');
}
.i-lastfm  {
  @include icon('\eaca');
}