@charset "UTF-8";
/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,700");
/* line 107, ../stylesheets/scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
* Remove default margin.
*/
/* line 117, ../stylesheets/scss/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
/* line 131, ../stylesheets/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
/* line 152, ../stylesheets/scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
/* line 167, ../stylesheets/scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 177, ../stylesheets/scss/_normalize.scss */
[hidden] {
  display: none; }

/**
* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
*/
/* line 186, ../stylesheets/scss/_normalize.scss */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 198, ../stylesheets/scss/_normalize.scss */
a {
  background-color: transparent; }

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
/* line 207, ../stylesheets/scss/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
/* line 219, ../stylesheets/scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
/* line 227, ../stylesheets/scss/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
* Address styling not present in Safari and Chrome.
*/
/* line 236, ../stylesheets/scss/_normalize.scss */
dfn {
  font-style: italic; }

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
/* line 245, ../stylesheets/scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.66667em 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 255, ../stylesheets/scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
* Address inconsistent and variable font size in all browsers.
*/
/* line 265, ../stylesheets/scss/_normalize.scss */
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
/* line 273, ../stylesheets/scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 281, ../stylesheets/scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 285, ../stylesheets/scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 297, ../stylesheets/scss/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 307, ../stylesheets/scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 320, ../stylesheets/scss/_normalize.scss */
figure {
  margin: 1em 40px; }

/**
* Address differences between Firefox and other browsers.
*/
/* line 329, ../stylesheets/scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
* Contain overflow in all browsers.
*/
/* line 339, ../stylesheets/scss/_normalize.scss */
pre {
  overflow: auto; }

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
/* line 347, ../stylesheets/scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
/* line 370, ../stylesheets/scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 385, ../stylesheets/scss/_normalize.scss */
button {
  overflow: visible; }

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
/* line 397, ../stylesheets/scss/_normalize.scss */
button,
select {
  text-transform: none; }

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
/* line 410, ../stylesheets/scss/_normalize.scss */
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
* Re-set default cursor for disabled elements.
*/
/* line 422, ../stylesheets/scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
* Remove inner padding and border in Firefox 4+.
*/
/* line 431, ../stylesheets/scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
/* line 442, ../stylesheets/scss/_normalize.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 455, ../stylesheets/scss/_normalize.scss */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
/* line 468, ../stylesheets/scss/_normalize.scss */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome
*    (include `-moz` to future-proof).
*/
/* line 479, ../stylesheets/scss/_normalize.scss */
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
/* line 492, ../stylesheets/scss/_normalize.scss */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* Define consistent border, margin, and padding.
*/
/* line 501, ../stylesheets/scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
/* line 512, ../stylesheets/scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 524, ../stylesheets/scss/_normalize.scss */
textarea {
  overflow: auto; }

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
/* line 534, ../stylesheets/scss/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
* Remove most spacing between table cells.
*/
/* line 545, ../stylesheets/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 550, ../stylesheets/scss/_normalize.scss */
td,
th {
  padding: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon/icomoon.eot?addf79");
  src: url("/assets/fonts/icomoon/icomoon.eot?#iefixaddf79") format("embedded-opentype"), url("/assets/fonts/icomoon/icomoon.woff?addf79") format("woff"), url("/assets/fonts/icomoon/icomoon.ttf?addf79") format("truetype"), url("/assets/fonts/icomoon/icomoon.svg?addf79#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 15, ../stylesheets/scss/_typography.scss */
body {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  line-height: 1.7;
  font-size: 1.125rem; }

/* line 20, ../stylesheets/scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0;
  font-weight: 500; }

/* line 25, ../stylesheets/scss/_typography.scss */
h1 {
  font-size: 2.625rem;
  font-weight: 300; }
  @media screen and (min-width: 43.75rem) {
    /* line 25, ../stylesheets/scss/_typography.scss */
    h1 {
      font-size: 4.5rem; } }

/* line 32, ../stylesheets/scss/_typography.scss */
h2 {
  font-size: 2.625rem;
  font-weight: 300; }

/* line 36, ../stylesheets/scss/_typography.scss */
h3 {
  font-size: 1.875rem;
  font-weight: 300; }

/* line 40, ../stylesheets/scss/_typography.scss */
h4 {
  font-size: 1.125rem;
  font-weight: 500; }

/* line 44, ../stylesheets/scss/_typography.scss */
h5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700; }

/* line 52, ../stylesheets/scss/_typography.scss */
a {
  text-decoration: underline; }
  /* line 54, ../stylesheets/scss/_typography.scss */
  a:hover {
    text-decoration: none; }

/* line 58, ../stylesheets/scss/_typography.scss */
.light a, p a {
  font-weight: 700; }

/* line 61, ../stylesheets/scss/_typography.scss */
.colorful a {
  font-weight: inherit; }

/* line 64, ../stylesheets/scss/_typography.scss */
svg text {
  font-size: 0.875rem; }

/* line 88, ../stylesheets/scss/_typography.scss */
.i-email {
  display: inline-block;
  vertical-align: middle;
  margin-right: .75rem;
  padding: .75rem;
  border: .125rem currentColor solid;
  border-radius: 50%;
  line-height: 1;
  text-decoration: none;
  transition: all 300ms ease; }
  /* line 79, ../stylesheets/scss/_typography.scss */
  .i-email::after {
    font-family: "Icomoon";
    font-size: 1.5rem;
    content: ""; }
  /* line 84, ../stylesheets/scss/_typography.scss */
  .i-email:hover {
    transform: scale(1.2); }

/* line 91, ../stylesheets/scss/_typography.scss */
.i-linkedin {
  display: inline-block;
  vertical-align: middle;
  margin-right: .75rem;
  padding: .75rem;
  border: .125rem currentColor solid;
  border-radius: 50%;
  line-height: 1;
  text-decoration: none;
  transition: all 300ms ease; }
  /* line 79, ../stylesheets/scss/_typography.scss */
  .i-linkedin::after {
    font-family: "Icomoon";
    font-size: 1.5rem;
    content: ""; }
  /* line 84, ../stylesheets/scss/_typography.scss */
  .i-linkedin:hover {
    transform: scale(1.2); }

/* line 94, ../stylesheets/scss/_typography.scss */
.i-github {
  display: inline-block;
  vertical-align: middle;
  margin-right: .75rem;
  padding: .75rem;
  border: .125rem currentColor solid;
  border-radius: 50%;
  line-height: 1;
  text-decoration: none;
  transition: all 300ms ease; }
  /* line 79, ../stylesheets/scss/_typography.scss */
  .i-github::after {
    font-family: "Icomoon";
    font-size: 1.5rem;
    content: ""; }
  /* line 84, ../stylesheets/scss/_typography.scss */
  .i-github:hover {
    transform: scale(1.2); }

/* line 97, ../stylesheets/scss/_typography.scss */
.i-dribbble {
  display: inline-block;
  vertical-align: middle;
  margin-right: .75rem;
  padding: .75rem;
  border: .125rem currentColor solid;
  border-radius: 50%;
  line-height: 1;
  text-decoration: none;
  transition: all 300ms ease; }
  /* line 79, ../stylesheets/scss/_typography.scss */
  .i-dribbble::after {
    font-family: "Icomoon";
    font-size: 1.5rem;
    content: ""; }
  /* line 84, ../stylesheets/scss/_typography.scss */
  .i-dribbble:hover {
    transform: scale(1.2); }

/* line 100, ../stylesheets/scss/_typography.scss */
.i-instagram {
  display: inline-block;
  vertical-align: middle;
  margin-right: .75rem;
  padding: .75rem;
  border: .125rem currentColor solid;
  border-radius: 50%;
  line-height: 1;
  text-decoration: none;
  transition: all 300ms ease; }
  /* line 79, ../stylesheets/scss/_typography.scss */
  .i-instagram::after {
    font-family: "Icomoon";
    font-size: 1.5rem;
    content: ""; }
  /* line 84, ../stylesheets/scss/_typography.scss */
  .i-instagram:hover {
    transform: scale(1.2); }

/* line 103, ../stylesheets/scss/_typography.scss */
.i-lastfm {
  display: inline-block;
  vertical-align: middle;
  margin-right: .75rem;
  padding: .75rem;
  border: .125rem currentColor solid;
  border-radius: 50%;
  line-height: 1;
  text-decoration: none;
  transition: all 300ms ease; }
  /* line 79, ../stylesheets/scss/_typography.scss */
  .i-lastfm::after {
    font-family: "Icomoon";
    font-size: 1.5rem;
    content: ""; }
  /* line 84, ../stylesheets/scss/_typography.scss */
  .i-lastfm:hover {
    transform: scale(1.2); }

/* line 6, ../stylesheets/scss/_color.scss */
body {
  background: #fafafa;
  color: #222; }
  /* line 9, ../stylesheets/scss/_color.scss */
  body a {
    color: #17DA97; }

/* line 13, ../stylesheets/scss/_color.scss */
.colorful {
  background-color: #17DA97;
  color: #FFFFFF; }
  /* line 16, ../stylesheets/scss/_color.scss */
  .colorful a {
    color: #FFFFFF; }

/* line 7, ../stylesheets/scss/_layout.scss */
[class*='column'] {
  box-sizing: border-box;
  float: left;
  padding-right: 1.75rem; }

/* line 13, ../stylesheets/scss/_layout.scss */
[class*='column']:last-of-type {
  padding: 0; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-1 {
  width: 8.33333%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-2 {
  width: 16.66667%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-3 {
  width: 25%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-4 {
  width: 33.33333%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-5 {
  width: 41.66667%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-6 {
  width: 50%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-7 {
  width: 58.33333%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-8 {
  width: 66.66667%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-9 {
  width: 75%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-10 {
  width: 83.33333%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-11 {
  width: 91.66667%; }

/* line 18, ../stylesheets/scss/_layout.scss */
.column-12 {
  width: 100%; }

@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-1 {
    width: 8.33333%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-2 {
    width: 16.66667%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-3 {
    width: 25%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-4 {
    width: 33.33333%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-5 {
    width: 41.66667%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-6 {
    width: 50%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-7 {
    width: 58.33333%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-8 {
    width: 66.66667%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-9 {
    width: 75%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-10 {
    width: 83.33333%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-11 {
    width: 91.66667%; } }
@media screen and (min-width: 43.75rem) {
  /* line 24, ../stylesheets/scss/_layout.scss */
  .column-dt-12 {
    width: 100%; } }
/* line 30, ../stylesheets/scss/_layout.scss */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* line 36, ../stylesheets/scss/_layout.scss */
.container {
  max-width: 60rem;
  width: 95%;
  margin: auto; }

/* line 41, ../stylesheets/scss/_layout.scss */
.container img {
  max-width: 100%;
  width: auto; }

/* line 46, ../stylesheets/scss/_layout.scss */
body, html {
  height: 100%; }

/* line 49, ../stylesheets/scss/_layout.scss */
.fullsize {
  height: 100%; }

/* line 53, ../stylesheets/scss/_layout.scss */
.vertically-aligned {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/* line 58, ../stylesheets/scss/_layout.scss */
.horizontally-aligned {
  text-align: center; }

/* line 62, ../stylesheets/scss/_layout.scss */
header ul, footer ul {
  margin: 0;
  padding: 0; }

/* line 66, ../stylesheets/scss/_layout.scss */
header li, footer li {
  list-style-type: none;
  display: inline; }

/* line 70, ../stylesheets/scss/_layout.scss */
.header-main {
  width: 100%;
  padding: 1.5rem 0;
  position: fixed;
  z-index: 1; }

/* line 76, ../stylesheets/scss/_layout.scss */
.header-main li h4 {
  padding-left: .75rem;
  display: inline; }

/* line 80, ../stylesheets/scss/_layout.scss */
.nav-left {
  float: left; }

/* line 83, ../stylesheets/scss/_layout.scss */
.nav-right {
  float: right; }

/* line 87, ../stylesheets/scss/_layout.scss */
.padded-section {
  padding: 4rem 0; }

/* line 92, ../stylesheets/scss/_layout.scss */
.vertical-offset {
  padding-top: 7.5rem; }

/* line 96, ../stylesheets/scss/_layout.scss */
.work-card {
  padding-top: 33.3%;
  background-position: center;
  background-size: 100%;
  transition: background-size 400ms ease;
  margin: 3rem 0;
  display: block; }

/* line 104, ../stylesheets/scss/_layout.scss */
.work-card:hover {
  background-size: 105%; }

/* line 107, ../stylesheets/scss/_layout.scss */
.work-card-header {
  bottom: 0;
  padding: 1rem 2rem;
  display: inline-block; }

/* line 112, ../stylesheets/scss/_layout.scss */
.work-overlay {
  position: relative;
  height: 100%;
  width: 100%; }

/* line 119, ../stylesheets/scss/_layout.scss */
.work-page img {
  display: block;
  margin: auto; }

/* line 125, ../stylesheets/scss/_layout.scss */
.about-photo {
  width: 100%;
  padding-top: 100%;
  background-image: url("./assets/img/self.jpg");
  background-size: cover;
  border-radius: 50%;
  margin-top: 1rem; }

@media screen and (max-width: 480px) {
  /* line 133, ../stylesheets/scss/_layout.scss */
  .about-stats {
    display: none; } }

/* line 139, ../stylesheets/scss/_layout.scss */
.footer-main {
  text-align: center; }

/* line 142, ../stylesheets/scss/_layout.scss */
.footer-icons {
  margin: .75rem 0; }

/* line 1, ../stylesheets/scss/_about.scss */
.about-photo {
  width: 100%;
  padding-top: 100%;
  background-image: url("./assets/img/self.jpg");
  background-size: cover;
  border-radius: 50%;
  margin-top: 1rem; }

@media screen and (max-width: 480px) {
  /* line 9, ../stylesheets/scss/_about.scss */
  .about-stats {
    display: none; } }

/* line 1, ../stylesheets/scss/_graphs.scss */
.about-graphs svg {
  margin: .75rem 0; }

/* line 4, ../stylesheets/scss/_graphs.scss */
.music-7day-graph text * {
  dominant-baseline: text-before-edge; }

/* line 7, ../stylesheets/scss/_graphs.scss */
.music-7day-bar {
  fill: #17DA97; }
  /* line 9, ../stylesheets/scss/_graphs.scss */
  .music-7day-bar:hover {
    fill: #000000; }

/* line 13, ../stylesheets/scss/_graphs.scss */
.music-7day-artist {
  font-weight: 700; }

/* line 16, ../stylesheets/scss/_graphs.scss */
.insta-graph svg {
  overflow: visible; }

/* line 19, ../stylesheets/scss/_graphs.scss */
.insta-line {
  fill: none;
  stroke-width: 5;
  stroke: #17DA97; }

/* line 24, ../stylesheets/scss/_graphs.scss */
.insta-point * {
  cursor: pointer; }

/* line 27, ../stylesheets/scss/_graphs.scss */
.insta-point-solid {
  stroke: #17DA97;
  fill: white; }

/* line 31, ../stylesheets/scss/_graphs.scss */
.insta-point text {
  font-size: 12px;
  dominant-baseline: central;
  font-weight: 600; }
