<footer class="footer-main padding-small colorful">
  <div class="container clearfix">
    <div class="footer-left">&copy; Lily Nguyen 2015</div>
    <div class="footer-right">With love from Berkeley</div>
  </div>
</footer>