<header class="header-main padding-small colorful">
  <nav>
    <div class="container row">
      <div class="nav-left"><h4><%= link_to 'Lily Nguyen', '/index.html' %></h4></div>
      <div class="nav-right">
        <ul>
          <li><h4><%= link_to 'Work', '/index.html#work' %></h4></li>
          <li><h4><%= link_to 'About + Contact', '/about.html' %></h4></li>
        </ul>
      </div>
    </div>
  </nav>
</header>