$header-light: #FFFFFF;
$text-light: #DADADA;
//$purple: #5F52D3;
$accent: #17DA97;
$accent-dark: #17DA97;
body  {
  background: #fafafa;
  color: #222;
  a {
    color: $accent-dark;
  }
}
.colorful {
  background-color: $accent;
  color: $header-light;
  a {
    color: $header-light;
  }
}