---
title: Welcome to Middleman
---

<div class="fullsize intro row colorful">
  <h1 class="vertically-aligned container">I am Lily.<br />
    Design thinking is what keeps me up at night.</h1>
</div>
<div id="work" class="row container padded-section light">
  <h2>Work</h2>
  <% data.work.projects.each do |project| %>
    <a href="/work/#{project.name}" class="work-card" style="background-image: url('/img/work.png');">
      <div class="work-overlay">
        <h3 class="work-card-header colorful"><a href="/work/#{project.name}"><%= project.title %></a></h3>
      </div>
    </a>
  <% end %>
</div>