---
title: About | Nguyensomniac
---
<div class="container padding-large vertical-offset light">
  <div class="row">
    <div class="column-12 column-dt-2">
      <div class="about-photo"></div>
    </div>
    <div class="about-body column-dt-7 column-12">
      <h2>About + Contact</h2>
      <p>I am currently looking for opportunities for Spring/Summer 2015. I am primarily looking for a UI/UX internship or software positions where I can learn more about the design process and think about the interactions that I code.</p>

      <p>I’m currently studying computer science at UC Berkeley, but what keeps me up at night is thinking about better ways to design the world around me. When given a choice between a perfect grid and an efficient algorithm, I’ll most likely choose the former.</p>

      <p>I learn most by doing - for me, a weekend at a hackathon is more rewarding than a semester in a classroom. I also help organize events for <a href="http://hackersatberkeley.com/">Hackers@Berkeley</a> and <a href="https://www.facebook.com/tequityorg">Tequity</a> to encourage others to find a new love for making things, especially those in underrepresented groups or those who haven’t had the resources to learn earlier on.</p>

      <p>In my free time, I enjoy traveling and live music. I also try to write when I can - previously, I wrote about startups for <a href="http://www.berkeleybyte.com/author/lilynguyen/">berkeleyByte.</a> Regrettably, I spend a disproportionate amount of my disposable income on boba.</p>
    </div>
    <div class="about-sidebar column-12 column-dt-3">
      <div class="about-stats">
        <div class="about-elsewhere">
          <h4>Elsewhere:</h4>
          <ul>
            <li><a href="http://linkedin.com/pub/lily-nguyen/95/17/4ba/en">LinkedIn</a></li>
            <li><a href="http://github.com/nguyensomniac">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'about' %>
