---
title: About | Nguyensomniac
---
<div class="container row padded-section vertical-offset light">
  <div class="about-sidebar column-12 column-dt-4">
    <div class="about-photo"></div>
    <div class="about-stats">
      <div class="about-elsewhere">
        <h4>Elsewhere:</h4>
        <ul>
          <li><a href="http://linkedin.com/pub/lily-nguyen/95/17/4ba/en">LinkedIn</a></li>
          <li><a href="http://github.com/nguyensomniac">Github</a></li>
          <li><a href="https://dribbble.com/nguyensomniac">Dribbble</a></li>
        </ul>
      </div>
      <div class="about-graphs">
        <div class="music-7day">
          <h4>Top <a href="http://www.last.fm/user/Ieely">last.fm</a> artists, 7 days</h4>
          <div class="music-7day-graph"></div>
        </div>
        <div class="insta">
          <h4>Instagram Posts by Like Count</h4>
          <div class="insta-graph"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-body column-dt-8 column-12">
    <h2>I'm Lily, a designer, developer, and hacker at UC Berkeley.</h2>
    <p>I spend much of my time thinking about how to display information in an easily digestable and meaningful manner. From creating data visualizations, rapidly prototyping, or wrangling with the pen tool, I will use whatever resources I have at my disposal to do so.</p>
    <p>I like to play around with all things JavaScript (mostly on the front-end, but sometimes on the back-end), but I've also worked on projects in Python and Ruby. Whenever I <a href="http://challengepost.com/nguyensomniac">go to hackathons</a>, I try to learn a new framework or otherwise step outside my comfort zone.</p>
    <p>Besides the above, I <a href="http://www.berkeleybyte.com/author/lilynguyen/">write about tech and startups for BerkeleyByte</a> and hold an officer position in <a href="http://hackersatberkeley.com/">Hackers@Berkeley</a>. I am also constantly in pursuit of good music and new places to explore.</p>
    <p>Want to hire me, share your favorite albums, or otherwise just want to talk? E-mail me at lcn@berkeley.edu.</p>
  </div>
</div>
<%= javascript_include_tag 'about' %>
