---
title: Lily Nguyen | Nguyensomniac
---

<div class="fullsize intro row colorful">
  <h1 class="vertically-aligned container">I am Lily.<br />
    Design thinking is what keeps me up at night.</h1>
</div>
<div id="work" class="row container padded-section light">
  <h2>Work</h2>
  <% data.work.projects.each do |project| %>
    <a href="./projects/<%= make_url project.title %>" class="work-card" style="background-image: url('./<%= project.image %>');">
      <div class="work-overlay">
        <h3 class="work-card-header colorful">
          <div class="link"><%= project.title %></div>
        </h3>
      </div>
    </a>
  <% end %>
</div>