---
title: Lily Nguyen | Nguyensomniac
description: Lily Nguyen is a web designer and developer available for hire based in Berkeley, CA.
---

<div class="fullsize intro row colorful">
  <h1 class="vertically-aligned container">I am Lily.<br />
    Design thinking is what keeps me up at night.</h1>
</div>
<div id="work" class="row container padded-section light">
  <h2>Work</h2>
  <div>
    <% sitemap.resources.select{ |r| r.path.start_with? 'projects/'}.each do |project| %>
      <% link_to project.path do %>
        <div class="work-card" style="background-image: url('./<%= project.metadata[:page]["image"] %>')">
          <div class="work-overlay">
            <h3 class="work-card-header colorful">
              <div class="link">
                <%= project.metadata[:page]["title"] %>
              </div>
            </h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>